{% extends 'base.html' %}

{% block sidebar %}
    <h4>Issues</h4>
    <ul>
        <li><a href="{% url issues_list project %}">View all</a></li>
        <li><a href="{% url issues_report project %}">Report</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Issues</h2>
    <table>
    <tr>
        <th>#</th>
        <th>Tracker</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Subject</th>
        <th>Assigned</th>
        <th>Updated</th>
    </tr>

    {% for issue in object_list %}
    <tr>
        <td>{{ issue.pk }}</td>
        <td>{{ issue.tracker }}</td>
        <td>{{ issue.get_status_display }}</td>
        <td>{{ issue.get_priority_display }}</td>
        <td><a href="{% url issues_view issue.project issue.pk %}">{{ issue }}</a></td>
        <td align="center">{% if issue.assigned %}{{ issue.assigned }}{% else %}-{% endif %}</td>
        <td>{{ issue.date_updated }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}