* {
    font-family: Verdana, sans-serif;
}
h1, h2, h3, h4 {
    margin: 4px 0px;
}
body, td, th {
    margin: 0; padding: 0;
    font-size: 10pt;
}
th, td {
    padding:  4px;
}
code {
    font-family: monospace;
}
#header {
    background-color: #5f9ea0;
    padding: 6px 10px;
    color:  #f0ffff;
}
#header h1 {
    font-weight: normal;
    font-size: 14pt;
    margin: 0;
}
#header h1 a, #header a {
    text-decoration: none;
    color: #ffd700;
}
#login {
    text-align: right;
    float: right;
}
#menu {;
    border:  1px dotted #ddd;
    border-top: none;
    float: right;
    padding-right: 4px;
    margin-right: 40px;
}
#menu ul {
    list-style-type: none;
    margin: 8px;
    padding: 0px;
}
#menu ul li {
    display: inline-block;
}
#menu ul li a {
    text-decoration: none;
    color: #000;
}
#menu ul li a.active {
    font-weight: bold;
}
#content {
    padding: 4px 240px 0px 20px;
}
#sidebar {
    width: 200px;
    padding: 4px 10px;
    float: right;
    min-height: 600px;
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
    clear: left;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#footer {
    text-align: center;
    font-size: 0.9em;
    clear: both;
}

div.replies {
    margin-left: 20px;
}
div.issue {
    background-color: #f5f5dc;
    border:  1px dashed #ddd;
    padding: 10px;
}
div.actions {
    text-align: right;
    font-size: 0.9em;
}
form table th {
    vertical-align: top;
}