{% extends 'base.html' %}

{% block sidebar %}
    <h4>Issues</h4>
    <ul>
        <li><a href="{% url issues_list project %}">View all</a></li>
        <li><a href="{% url issues_report project %}">Report</a></li>
    </ul>

    <h4>Statistics</h4>
    <ul>
        <li>Open: {{ project.stats.open }}</li>
        <li>Closed: {{ project.stats.closed }}</li>
        <li>New: {{ project.stats.new }}</li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Issues</h2>

    <fieldset><legend>Filters</legend>
    <form action="" method="get" name="form">
        <table>
            <tr>
                <td>Status:</td>
                <td><select name="status">
                    <option value=""    {% if not status %}selected{% endif %}>any</option>
                    <option value="open"    {% if status == 'open' %}selected{% endif %}>open</option>
                    <option value="closed"  {% if status == 'closed' %}selected{% endif %}>closed</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="actions">
            <a href="#" onclick="form.submit();return false">Apply</a>
        </div>
    </form>
    </fieldset>

    <table>
    <tr>
        <th>#</th>
        <th>Tracker</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Subject</th>
        <th>Assigned</th>
        <th>Category</th>
        <th>Updated</th>
    </tr>

    {% for issue in object_list %}
    <tr>
        <td>{{ issue.pk }}</td>
        <td>{{ issue.tracker }}</td>
        <td>{{ issue.get_status_display }}</td>
        <td class="pri-{{ issue.get_priority_display|lower }}">{{ issue.get_priority_display }}</td>
        <td><a href="{% url issues_view issue.project issue.pk %}">{{ issue.title }}</a></td>
        <td align="center">{% if issue.assigned %}{{ issue.assigned }}{% else %}-{% endif %}</td>
        <td>{% if issue.category %}{{ issue.category }}{% else %}-{% endif %}</td>
        <td>{{ issue.date_updated }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}