<html>
<head>
    <title>{% block title %}KIT{% if project %} > {{ project.title }}{% endif %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/issues.js"></script>
</head>
<body>
<div id="header">
    <div id="login">
        {% if user.is_authenticated %}
        {{ user }}, <a href="{% url django.contrib.auth.views.logout %}">logout</a>.
        {% else %}
        Anonymous, <a href="{% url django.contrib.auth.views.login %}">login</a>.
        {% endif %}
    </div>
<h1>
    {% if project %}
    <a href="{% url issues_list project.name %}">{{ project.title }}</a>
    {% else %}
    <a href="{% url projects_list %}">KIT</a>
    {% endif %}
</h1>
</div>
<div id="sidebar">
    {% block sidebar %}
    {% endblock %}
</div>
   <div id="menu">
        <ul>
            {% if project %}
                <li><a href="{% url issues_list project.name %}" class="{% if module == 'issues' %}{% if action != 'new' and action != 'prefs' %}active{% endif %}{% endif %}">Issues</a></li>
                <li><a href="{% url issues_new project.name %}" class="{% if action == 'new' %}active{% endif %}">New issue</a></li>
                <li><a href="{% url activity_project project %}" class="{% if module == 'activity' %}active{% endif %}">Activity</a></li>
                {% if role == 'admin' %}
                    <li><a href="{% url project_manage project %}" class="{% if module == 'manage' %}active{% endif %}">Manage</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url preferences project %}" class="{% if action == 'prefs' %}active{% endif %}">Preferences</a></li>
                {% endif %}
            {% endif %}
            <li><a href="{% url projects_list %}" class="{% if module == '' %}active{% endif %}">Projects</a></li>
        </ul>
    </div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="footer">
    &copy; 2011 KSS
</div>
</body>
</html>